*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.voltar{
    padding-right: 590px;

}
label{
    color: #fff;
}
img{
    width: 40px;
    cursor: pointer;
}

body{
    background-image: url(./../src/img/inspiring-view-sunset-light1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 637px;
    height: 455px;
    padding: 26px 0px;
    backdrop-filter: blur(8px);
    background-color: #10182860;
}

.continue{
    margin-bottom: 15px;
    width: 472px;
    height: 40px;
    margin-top: 32px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 1px solid var(--Primary-600, #7F56D9);
    background: var(--Primary-600, #7F56D9);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
}

.esqueceu--senha{
    padding-right: 315px;
    margin-top: 24px;
    color: #C1CED4;
    font-weight: bold;
    cursor: pointer;
}

.input{
    width: 472px;
    height: 35px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    padding: 0 10px;
}

.senha{
    margin-top: 24px;
}
.email{
    margin-top: 45px;
}

.boas--vindas{
    color: #101828;
    font-size: 22px;
    padding-right: 140px;
}